services:
  {% for acct in accounts %}
  spectator-client-{{ loop.index }}:
    image: ghcr.io/opensource-deadlock-tools/devlock/spectator/client:latest
    build: .
    restart: always
    env_file: ../../.env
    environment:
      STEAM_USERNAME: {{ acct.username }}
      STEAM_PASSWORD: {{ acct.password }}
  {% endfor %}
